.title {
    color: #036a19;
    font-size: 125%;
    margin-bottom: 0.5em;
}

.subtitle {
    color: #ec460a;
    font-size: 145%;
    margin-bottom: 1em;
}

.link {
    color: #2980b9;
    text-decoration: none;
    font-size: 150%;
}

.link:hover {
    text-decoration: underline;
}

.linkContainer {
    margin-top: 20px; /* Ajuste o valor conforme necessário */
}

.icon {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
    font-size: 150%;
    color:blueviolet;
}